.header__ {
  text-align: center;
}

@media screen and (min-width: 320px) {
  .header__ {
    width: 100%;
    text-align: center;
  }

  .header__heading {
    margin: 0 auto;
    font-size: 1.8em;
    text-align: center;
  }

  .header__heading .accented {
    font-style: italic;
    color: rgba(200, 12, 12, 0.5);
  }
}
