@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  font-family: 'Open Sans', Helvetica, sans-serif, system-ui;
  line-height: 1.5;
  font-weight: 400;
  margin: 0 auto;
  background-color: #131726;
  color: #e0e0e0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
